{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Главная страница{% endblock %}</title>
    <style type="text/css">
        footers{
            align:center;
        }
        marg{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Django</h1>
    </header>
    <nav>
      <h2>Содержание курса</h2>
      <ul>
        <li><a href="#0">Введение</a></li>
        <li><a href="#1">Установка.Создание проекта</a></li>
        <li><a href="#2">Приложения</a>
            <nav>
              <ul>
                <li><a href="#2.1">Создание приложения</a></li>
                <li><a href="#2.2">Маршрутизация</a></li>
              </ul>
            </nav>
        </li>
        <li><a href="#3">Админ панель</a></li>
      </ul>
    </nav>
    <div>
        <h3 id="0">Введение</h3>
        <p>Django (/ˈdʒæŋɡoʊ/ джанго) — бесплатный и свободный фреймворк для веб-приложений, написанный на Python. Фреймворк — это набор компонентов, которые помогают разрабатывать веб-сайты быстро и просто.
            Каждый раз при разработке веб-сайтов требуются похожие компоненты: способ аутентифицировать пользователей (вход, выход, регистрация), панель управления сайтом, формы, инструменты для загрузки файлов и т. д.
            К счастью для нас, другие люди обратили внимание на возникновение однотипных проблем при веб-разработке, так что они объединились и создали фреймворки (Django и другие), которые предлагают нам готовые шаблоны для использования.
            Фреймворки существуют, чтобы облегчить процесс разработки и позволить нам не изобретать колес.
        </p>
    </div>
    <div>
        <h3 id="1">Установка.Создание проекта</h3>
        <a href="https://www.djangoproject.com/download/">Ссылка на скачивание</a>
        <p>Инструкции по установке немного различаются в зависимости от того, устанавливаете ли вы пакет для конкретного дистрибутива, загружаете последнюю официальную версию или получаете последнюю версию для разработки. Существует три варианта установки фреймворка:</p>
        <ul>
            <li>
                <h4>Установка официального релиза с помощью pip</h4>
                <p>Это рекомендуемый способ установки Django. Установите pip. Самый простой — использовать автономный установщик pip. Если ваш дистрибутив уже pipустановлен, вам может потребоваться обновить его, если он устарел.</p>
                <p>Если он устарел, вы об этом узнаете, потому что установка не будет работать.
                   Взгляните на venv. Этот инструмент предоставляет изолированные среды Python, что более практично, чем установка пакетов по всей системе. Он также позволяет устанавливать пакеты без прав администратора. В обучающем руководстве рассказывается, как создать виртуальную среду.
                   После того, как вы создали и активировали виртуальную среду, введите команду:
                </p>
                   <code>python -m pip install Django</code>
            </li>
            <li>
                <h4>Установка пакета, специфичного для дистрибутива</h4>
                <p>Проверьте примечания к конкретному дистрибутиву , чтобы узнать, предоставляет ли ваша платформа/дистрибутив официальные пакеты/установщики Django.
                    Пакеты, предоставляемые дистрибутивом, обычно допускают автоматическую установку зависимостей и поддерживаемых путей обновления; однако эти пакеты редко содержат последнюю версию Django.
                </p>
            </li>
            <li>
                <h4>Установка девелоперской версии</h4>
                <p>Если вы хотите иметь возможность время от времени обновлять свой код Django, добавляя последние исправления ошибок и улучшения, следуйте этим инструкциям:</p>
                <ol>
                    <li>Убедитесь, что у вас установлен Git и что вы можете запускать его команды из оболочки. (Войдите в командную строку, чтобы проверить это)
                        <code> git help </code>
                    </li>
                    <li>Посмотрите основную ветку разработки Django следующим образом:
                        <code> git clone https://github.com/django/django.git </code>
                        Это создаст каталог django в вашем текущем каталоге.
                    </li>
                    <li>Убедитесь, что интерпретатор Python может загрузить код Django. Самый удобный способ сделать это — использовать виртуальную среду и pip.
                        В обучающем руководстве рассказывается, как создать виртуальную среду.
                    </li>
                    <li>
                        <p>После настройки и активации виртуальной среды выполните следующую команду:</p>
                        <code>python -m pip install -e django</code>
                        <p>
                        Это сделает код Django импортируемым, а также сделает <code>django-admin</code> доступной команду утилиты. Другими словами, все готово!
                        </p>
                    </li>
                </ol>
            </li>
        </ul>
        <p>
            <p>После установки можно приступить к созданию проекта через вышеупомянутый скрипт <code>django-admin</code>, выполнив следующую команду в каталоге будущего проекта:</p>
            <code>django-admin startproject newProject</code>. Запуск проекта командой: <code>python manage.py runserver</code>
        </p>
    </div>
    <div>
        <h3 id="2">Приложения</h3>
        <h4 id="2.1">Создание приложения</h4>
        <p>В Джанго, проект считается установленным Джанго с некоторыми параметрами; приложение — это группа моделей, представлений, шаблонов и URL-адресов.
            Приложения взаимодействуют с платформой для предоставления определенных функциональных возможностей и могут использоваться в различных проектах.
        </p>
        <p>
            Проект можно рассматривать как веб-сайт, который содержит несколько приложений, таких как блог, вики или форум, которые могут использоваться в других проектах.
            Для начала работы с приложениями нужно инциализировать базу данных вашего проекта, в котороq будут храниться информация по каждому приложению в проекте. Сделать это можно с помощью команды:
            <code>python manage.py migrate</code>
        </p>
        <p>
            Теперь создадим ваше первое приложение Джанго. Приложение "blog" будет создано с нуля. В корневом каталоге проекта выполните следующую команду:
            <code>python manage.py startapp blog</code>
            Это создаст базовую структуру приложения, которая выглядит следующим образом:
        </p>
        <p>
            <code>
                blog/<br/>
                    __init__.py<br/>
                     admin.py<br/>
                    migrations/<br/>
                        __init__.py<br/>
                    models.py<br/>
                    tests.py<br/>
                    views.py<br/>
            </code>
        </p>
        <p>
            Давайте разберемся, что тут к чему.
            <ul>
                <li>admin.py: здесь вы регистрируете модели, чтобы включить их в административную часть сайта(админку) Джанго. Использование админки Джанго является необязательным.</li>
                <li>migrations/: этот каталог будет содержать миграцию базы данных приложения. Миграция позволяет отслеживать изменения модели и соответствующим образом синхронизировать базу данных.</li>
                <li>models.py: модели данных приложения. Для всех Джанго приложений требуется models.py файл, но этот файл может быть оставлен пустым.</li>
                <li>tests.py: здесь можно добавить тесты для приложения.</li>
                <li>views.py: логика приложения здесь. Каждое представление(view) получает HTTP-запрос, обрабатывает его и возвращает ответ.</li>
            </ul>
        </p>
        <p>
            <h4 id="2.2">Маршрутизация</h4>
            <p>
                Важнейшей частью любого веб-фреймворка является механизм, который отвечает за маршрутизацию. Во Flask для построения карты маршрутов использовались специальные декораторы. В Django для этого используется свой небольшой eDSL. Он описывает urlpatterns — набор образцов, с которыми сопоставляются пути из каждого входящего запроса.
            </p>
                Каждый образец состоит из описания статических и динамических частей пути в виде строки или регулярного выражения:
                <ul>
                    <li>Статические части пути в образце просто проверяются на равенство соответствующим участкам пути в запросе</li>
                    <li>Динамические участки пути позволяют захватывать значения и передавать во view в качестве аргументов Как только выясняется, что путь или его начало совпали с образцом, происходит либо вызов view, либо передача оставшейся части пути во вложенный блок urlpatterns.</li>
                </ul>
            <p>
                В большинстве больших Django-проектов urlpatterns вложены друг в друга и представляют собой дерево.
                В этом уроке подробно разберем статические и динамические маршруты, а также рассмотрим вложенные urlpatterns и обратные маршруты.
            </p>
            <p>
                Файл urls.py в Django является основным механизмом для маршрутизации URL-адресов приложения. Он используется для соответствия URL-адресов определенным функциям (вызываемым view-функциям) в вашем приложении Django.
                Обычно в Django проектах есть два вида файлов urls.py — один для основного проекта и один для каждого приложения в проекте.<br/>
                Файл urls.py приложения определяет URL-адреса, специфичные для данного приложения, а файл urls.py проекта используется для обработки URL-адресов, которые не определены в urls.py приложения.
            </p>
            <div>
                <p>
                    Пример кода urls.py в Django:
                </p>
                <code class="marg">
                        from django.urls import path<br/>
                        from . import views<br/>
                        <br/>
                        urlpatterns = [<br/>
                            path('', views.index, name='index'),<br/>
                            path('tests', views.tests, name='tests'),<br/>
                            path('tasks', views.tasks, name='tasks'),<br/>
                        ]<br/>
                </code>
                <p>В этом примере мы импортируем функции views из текущего приложения (обозначенного точкой) и определяем три URL-адреса, которые будут соответствовать этим функциям: пустой URL-адрес (''), URL-адрес 'about/' и URL-адрес 'contact/'.
                    Каждый URL-адрес представлен объектом path(), который принимает два обязательных аргумента: строку пути и вызываемую view-функцию. Дополнительно, мы можем указать имя маршрута (через параметр name), которое позволит нам легко ссылаться на этот URL-адрес в других местах кода.</p>
                <p>
                    Кроме path(), Django также предоставляет другие функции для маршрутизации URL-адресов, такие как re_path() для использования регулярных выражений в URL-адресах и include() для включения других файлов urls.py в ваше приложение.
                </p>
                </p>
            </div>
    </div>
    <div>
        <h3 id="3">Админ панель</h3>
        <p>
            Теперь запустите сервер разработки с помощью команды python manage.py runserver и запустите в браузере http://127.0.0.1:8000/admin/.
            Вы увидите страницу входа, как показано на следующем снимке экрана:
        </p>
        <p>
            <img src="login_admin.jpg">
        </p>
        <p>
            Войдите в систему с помощью учетных данных пользователя, созданного на предыдущем шаге. Вам будет показана следующая страница:
        </p>
        <p>
            <img src="login_admin.jpg">
        </p>
        <p>
            Модели групп и пользователей, которые вы видите здесь, являются частью платформы Джанго проверки подлинности, расположенной в django.contrib.auth. Если кликнуть «пользователи(Users)», то мы увидим данные созданного ранее пользователя. Модель POST для приложения блога имеет отношение с этой пользовательской моделью.
            Помните, что это отношение определяется полем "author".
        </p>
        <p>
            Давайте добавим ваши модели блога на сайт администрирования. Измените файл admin.py приложения blog следующим образом:
        </p>
        <p>
            <code>
                from django.contrib import admin
                from .models import Post

                admin.site.register(Post)
            </code>
        </p>
        <p>
            Теперь перезагрузите админпанель в вашем браузере. Модель Post должны была добавиться в административную часть сайта:
        </p>
        <img src="">
        <p>
            При регистрации модели в узле администрирования Джанго вы получите удобный для пользователя интерфейс, созданный с помощью анализа моделей, позволяющих выполнять сортировку, редактирование, создание и удаление объектов простым способом.
            Щелкните Добавить ссылку справа от Post, чтобы добавить новый пост. Вы увидите форму создания, которая будет динамически сгенерирована для вашей модели, как показано на следующем снимке экрана:
        </p>
        <img src="">
        <p>
            Джанго использует различные виджеты форм для каждого типа поля. Даже сложные поля, такие как DateTimeField, отображаются с простым интерфейсом, как JavaScript date picker.
            Заполните форму и нажмите кнопку Сохранить. Вы должны быть перенаправлены на страницу списка всех постов с успешным сообщением и только что созданной страницей, как показано на следующем снимке экрана:
        </p>
        <img src="">
    </div>
    <div>
        <h3>Контрольные вопросы</h3>
        <ol>
            <li>Что такое Django?</li>
            <li>Для чего был разработан Django?</li>
            <li>Какие варианты установки фреймворка существуют?</li>
            <li>Как создать проект? Какие команды используются?</li>
            <li>В чем разница между приложением и проектом?</li>
            <li>Как создаются приложения?</li>
            <li>Что необходимо инициализировать перед работой с проектом и как это сделать?</li>
            <li>Какой файл используется для маршрутизации в приложении?</li>
        </ol>
    </div>
    <nav>
      <h2>Упражнения для закрепления</h2>
      <ul>
        <li><a href="tasks">Итоговые задания</a></li>
        <li><a href="tests">Итоговое тестирование</a></li>
      </ul>
    </nav>
    <footer class="footers">
        <p>2024 Скиба Н.Д. Все права защищены.</p>
        <p>Обратная связь: skibakol@yandex.ru</p>
    </footer>
</body>
</html>