<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Задания</title>
</head>
<body>
    <header>
        <h1>Список заданий для выполнения</h1>
    </header>
    <p>Необходимо ознакомиться с примером выполнения и самостоятельно выполнить предложенные задания.
       Ответы на задания необходимо отправить по почте преподавателю в виде архива с кодом или ссылке на публичный репозиторий.</p>
    <body>
        <ul>
            <li><h3>Задание №1</h3>
            <p>
                Создайте новый проект Django с названием "MySite". Запустите его. Подключите админ-панель.
            </p>
            </li>
            <li><h3>Задание №2</h3>
            <p>
                 Создайте модель "Question" с полями "question_text" и "pub_date" в приложении "polls".
            </p>
            </li>
            <li><h3>Задание №3</h3>
            <p>
                Создайте страницу для отображения списка всех опросов (вопросов) на главной странице сайта.
            </p>
            </li>
            <li><h3>Задание №4</h3>
            <p>
                Реализуйте страницу для отображения детальной информации о конкретном вопросе и возможности выбора варианта ответа.
            </p>
            </li>
            <li><h3>Задание №5</h3>
            <p>
                Реализуйте страницу для отображения детальной информации о конкретном вопросе и возможности выбора варианта ответа.
            </p>
            </li>
        </ul>
        <div>
            <h2>Пример выполнения задания</h2>
            <p>

            </p>
        </div>
    </body>
    <footer>
        <p>2024 Скиба Н.Д. Все права защищены.</p>
    </footer>
</body>
</html>